$colors: (
    default-state: (
        "primary": #0d6efd,
        "secondary": #6c757d,
        "success": #198754,
        "error": #dc3545,
        "warning": #ffc107,
        "info": #0dcaf0,
        "dark": #212529,
        "plain-dark": #000000,
        "light": #f8f9fa,
        "plain-white": #ffffff,
        "base": transparent,
    ),
    hover-state: (
        "primary": #0b5ed7,
        "secondary": #5c636a,
        "success": #157347,
        "error": #bb2d3b,
        "warning": #ffca2c,
        "info": #31d2f2,
        "dark": #1c1f23,
        "plain-dark": #000000,
        "light": #f9fafb,
        "plain-white": #ffffff,
        "base": transparent,
    ),
);
