.navbar {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    max-width: 65%;
    margin: auto;
    padding: 2em 0;

    * {
        font-size: 1rem;
        text-decoration: none;
    }

    .navbar__text {
        color: #0da5f3;
        font-size: 1.25rem;
    }

    .navbar__login {
        margin-left: auto;
    }

    .navbar__sign-up {
    }
}
